<!DOCTYPE html>
<html>

<head>
    <title>customer details</title>
</head>

<body>
    <h1>Purchase History </h1>
    <a href="/customer">Back</a> |
    <a href="/logout">logout</a>

    <table border="10">
        
     
        <tr>
            <td>email</td>
            <td>
                <%= email %>
            </td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>
                <%= date %>
            </td>
        </tr>
        <tr>
            <td>product id:</td>
            <td>
                <%= productid %>
            </td>
        </tr>
        <tr>
            <td>product name:</td>
            <td>
                <%= productname %>
            </td>
        </tr>
        <tr>
            <td>Product Price:</td>
            <td>
                <%= productprice %>
            </td>
        </tr>
        <tr>
            <td>Product Quantity:</td>
            <td>
                <%= productquantity %>
            </td>
        </tr>
        <tr>
            <td>total:</td>
            <td>
                <%= total %>
            </td>
        </tr>
        <tr>
            <td>prescription</td>
            <td>
                <%= prescription %>
            </td>
        </tr>

        

    </table>


</body>

</html>